@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --primary: #272626;
  --secondary: #00f0e9;
  --tertiary: #ff0050;
  --scroll-color: #949191;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: #272626;
}

button,
input {
  outline: none;
  border: none;
}

a[href] {
  text-decoration: none;
}

ul {
  list-style: none;
}

::-moz-selection {
  color: var(--secondary);
  background: var(--scroll-color);
}

::selection {
  color: var(--secondary);
  background: var(--scroll-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 9999px;
}
